#top {
  background-color: red;
  border:solid;
  text-align:center;
}
#rowOne{
  background-color: blue;
  border:solid;
  text-align:center;
}

#rowTwo {
  background-color: green;
  border:solid;
  text-align:center;
}
